{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <style>
        .intro-header{
            background-image: url({% static 'website/img/intro-bg.jpg' %});
            background-repeat: no-repeat center center;
            background-size: cover;
            color: #000000;
        }

        .form {
            background-color: transparent !important;
        }

    </style>
    <div class="intro-header">
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="post">
                            <div class="card-header text-center">
                                <h2 >Log In</h2>
                            </div>
                            <div class="card-body">
                                <table>
                                    {{ form|crispy }}
                                </table>
                            </div>
                            <div class="card-footer text-center">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-round btn-lg btn-block">Log In</button>
                                <a href="{% url 'password_reset' %} " class="btn btn-link">Forgot your password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}