{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Altura</td>
            <td>Registro</td>
            <td>Habilidades</td>
            <td>Edad</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for heroe in object_list %}
            <tr>
                <td>{{ heroe.id }}</td>
                <td>{{ heroe.nombre }}</td>
                <td>{{ heroe.sexo }}</td>
                <td>{{ heroe.altura }}</td>
                <td>{{ heroe.fecha_registro }}</td>
                <td>{{ heroe.habilidades }}</td>
                <td>{{ heroe.edad }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'heroe_editar' heroe.id %}">Editar</a>
                    <a class="btn btn-secondary" href="{% url 'heroe_eliminar' heroe.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <h2>No hay registro de heroes</h2>
        {% endif%}
    </tbody>
</table>
{% endblock%}